:root {
    --light-pink: #d7ccc6;
    --dark-blue: #02323f;
    --grey: #585856;
    --light-grey: #eaeaea;
    --light-white: #f4f4f4;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.home-body {
    position: fixed;
}

html {
    font-size: 62.5%;
    font-family: 'Alegreya Sans', sans-serif;
    /*font-family: 'Courgette', cursive;*/
}

a {
    text-decoration: none;
}

header {
    width: 100vw;
    height: auto;
}

.nav-main {
    width: 100%;
    padding: 30px 100px;
    display: flex;
}

.logo__container {
    width: 50%;
}

.nav-options-main {
    width: 50%;
    display: grid;
}

.nav-options__container {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
}

.logo__container h1 {
    font-size: 4.5rem;
    letter-spacing: 10px;
}

.nav-options__container h3 {
    font-size: 2.5rem;
    color: var(--grey);
}

.home-main__container {
    height: 100vh;
    background-image: url('../assets/img/cover-1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.home-main__text-container {
    padding: 200px 0 0 100px;
    width: 30%;
}

.home-main__text-container h2 {
    font-size: 3.5rem;
    margin-bottom: 1.2rem;
    color: var(--grey);
}

.home-main__text-container p {
    font-size: 2rem;
    line-height: 30px;
}

.new-blogpost-main {
    width: 100%;
    height: 350px;
    background-color: var(--light-grey);
    margin-top: 35px;
    display: grid;
    position: relative;
}

.new-blogpost__img-container {
    max-width: 650px;
    margin-left: 100px;
    position: absolute;
    top: -30px;
}

.new-blogpost__img-container img {
    width: 100%;
}

.new-blogpost__info-container {
    width: 55%;
    height: fit-content;
    background-color: #ffffff;
    justify-self: end;
    margin-right: 50px;
    margin-top: 50px;
    padding: 20px 50px;
}

.new-blogpost__info-container h2 {
    font-size: 2.4rem;
    line-height: 50px;
}

.new-blogpost__info-container p {
    font-size: 1.6rem;
    line-height: 25px;
}

.read-more__button {
    background-color: var(--grey);
    margin-top: 20px;
    font-size: 1.6rem;
    padding: 10px 15px;
    border: 0px;
    text-decoration: none;
}

.read-more__button a {
    color: white;
}